@import "./page-transition-loading-animation.css";

body {
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

code {
  font-family: monospace;
  background-color: #eaeaea;
  padding: 3px 5px;
  border-radius: 4px;
}

a {
  text-decoration: none;
}
